In [58]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

spark = SparkSession.builder \
    .appName("Datacamp Pyspark Tutorial") \
    .config("spark.memory.offHeap.enabled","true") \
    .config("spark.memory.offHeap.size","10g") \
    .getOrCreate()

In [59]:
df = spark.read.option("header",True).option("inferSchema",True).csv("C:/Users/thang/Desktop/loan.csv")

In [60]:
df.printSchema()

root
 |-- Loan_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Dependents: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- Self_Employed: string (nullable = true)
 |-- ApplicantIncome: integer (nullable = true)
 |-- CoapplicantIncome: double (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- Loan_Amount_Term: integer (nullable = true)
 |-- Credit_History: integer (nullable = true)
 |-- Property_Area: string (nullable = true)
 |-- Loan_Status: string (nullable = true)

In [61]:
df.show(5)

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|      NULL|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|        66|             360|             1|        Urban|          Y|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|       120|             360|             1|        Urban|          Y|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|       141|             360|             1|        Urban|          Y|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 5 rows

In [62]:
import pandas as pd
from pyspark.sql.types import *

In [63]:
def flagger(df,col_name):
    df.select(col_name).show()

In [64]:
flagger(df,"Loan_ID")

+--------+
| Loan_ID|
+--------+
|LP001002|
|LP001003|
|LP001005|
|LP001006|
|LP001008|
|LP001011|
|LP001013|
|LP001014|
|LP001018|
|LP001020|
|LP001024|
|LP001027|
|LP001028|
|LP001029|
|LP001030|
|LP001032|
|LP001034|
|LP001036|
|LP001038|
|LP001041|
+--------+
only showing top 20 rows

In [67]:
upper_flag = lambda a: a*100

In [82]:
lower_flag = lambda a: lower(a)

In [84]:
# df[["ApplicantIncome"]]
from pyspark.sql.functions import *

df.select("Loan_ID",upper_flag(df.ApplicantIncome)) \
    .withColumnRenamed("(ApplicantIncome * 100)","flagger") \
    .withColumn("Loan_ID_new",lower_flag(df.Loan_ID)) \
    .show()

+--------+-------+-----------+
| Loan_ID|flagger|Loan_ID_new|
+--------+-------+-----------+
|LP001002| 584900|   lp001002|
|LP001003| 458300|   lp001003|
|LP001005| 300000|   lp001005|
|LP001006| 258300|   lp001006|
|LP001008| 600000|   lp001008|
|LP001011| 541700|   lp001011|
|LP001013| 233300|   lp001013|
|LP001014| 303600|   lp001014|
|LP001018| 400600|   lp001018|
|LP001020|1284100|   lp001020|
|LP001024| 320000|   lp001024|
|LP001027| 250000|   lp001027|
|LP001028| 307300|   lp001028|
|LP001029| 185300|   lp001029|
|LP001030| 129900|   lp001030|
|LP001032| 495000|   lp001032|
|LP001034| 359600|   lp001034|
|LP001036| 351000|   lp001036|
|LP001038| 488700|   lp001038|
|LP001041| 260000|   lp001041|
+--------+-------+-----------+
only showing top 20 rows